In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

# Create Spark Session (this will also create SparkContext internally)
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

sc = spark.sparkContext   # get SparkContext

In [2]:
sc

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("BasicDataFrameOps").getOrCreate()

In [5]:
df = spark.read.csv("C:\\Users\\SAI MANIKANTA\\OneDrive\\Desktop\\students.csv", header=True, inferSchema=True)

In [7]:
print("=== First 5 rows ===")
df.show(3)

=== First 5 rows ===
+---+-------+---+------+----+-------+-------+
| id|   name|age|gender|math|science|english|
+---+-------+---+------+----+-------+-------+
|  1|  Alice| 20|     F|  66|     92|     44|
|  2|    Bob| 20|     M|  82|     52|     77|
|  3|Charlie| 22|     F|  43|     57|     76|
+---+-------+---+------+----+-------+-------+
only showing top 3 rows

In [8]:
print("=== Schema ===")
df.printSchema()

=== Schema ===
root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- math: integer (nullable = true)
 |-- science: integer (nullable = true)
 |-- english: integer (nullable = true)

In [9]:
print("=== Select name and math columns ===")
df.select("name", "math").show(3)

=== Select name and math columns ===
+-------+----+
|   name|math|
+-------+----+
|  Alice|  66|
|    Bob|  82|
|Charlie|  43|
+-------+----+
only showing top 3 rows

In [10]:
print("=== Students with math >= 80 ===")
df.filter(df.math >= 80).show(3)

=== Students with math >= 80 ===
+---+-----+---+------+----+-------+-------+
| id| name|age|gender|math|science|english|
+---+-----+---+------+----+-------+-------+
|  2|  Bob| 20|     M|  82|     52|     77|
|  4|David| 19|     M|  95|     69|     46|
| 11|Kathy| 25|     M|  85|     71|     89|
+---+-----+---+------+----+-------+-------+
only showing top 3 rows

In [11]:
print("=== Sorted by science (desc) ===")
df.orderBy(df.science.desc()).show(3)

=== Sorted by science (desc) ===
+---+------+---+------+----+-------+-------+
| id|  name|age|gender|math|science|english|
+---+------+---+------+----+-------+-------+
| 27| Aaron| 25|     F|  81|     99|     44|
| 32| Fiona| 22|     F|  48|     96|     48|
| 33|George| 22|     M|  66|     95|     84|
+---+------+---+------+----+-------+-------+
only showing top 3 rows

In [12]:
print("Total rows in dataset:", df.count())

Total rows in dataset: 50

In [13]:
print("Columns:", df.columns)

Columns: ['id', 'name', 'age', 'gender', 'math', 'science', 'english']