In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

# Create Spark Session (this will also create SparkContext internally)
spark = SparkSession.builder \
    .appName("MySparkApp") \
    .getOrCreate()

sc = spark.sparkContext   # get SparkContext

In [2]:
sc

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SamplingExample").getOrCreate()

In [5]:
df = spark.read.csv("C:\\Users\\SAI MANIKANTA\\OneDrive\\Desktop\\students.csv", header=True, inferSchema=True)

In [6]:
print("=== Sample (30% without replacement) ===")
df.sample(withReplacement=False, fraction=0.3, seed=42).show(3)

=== Sample (30% without replacement) ===
+---+------+---+------+----+-------+-------+
| id|  name|age|gender|math|science|english|
+---+------+---+------+----+-------+-------+
|  4| David| 19|     M|  95|     69|     46|
|  8| Henry| 21|     F|  53|     82|     60|
| 17|Quincy| 18|     M|  65|     79|     54|
+---+------+---+------+----+-------+-------+
only showing top 3 rows

In [7]:
print("=== Sample (20% with replacement) ===")
df.sample(withReplacement=True, fraction=0.2, seed=42).show(3)

=== Sample (20% with replacement) ===
+---+------+---+------+----+-------+-------+
| id|  name|age|gender|math|science|english|
+---+------+---+------+----+-------+-------+
|  6| Frank| 22|     F|  70|     78|     94|
|  7| Grace| 24|     F|  67|     66|     93|
| 14|Nathan| 23|     F|  71|     66|     60|
+---+------+---+------+----+-------+-------+
only showing top 3 rows

In [8]:
print("=== takeSample: 3 rows (with replacement) ===")
sampled_rows_wr = df.rdd.takeSample(True, 3, seed=42)
for row in sampled_rows_wr:
    print(row)

=== takeSample: 3 rows (with replacement) ===
Row(id=24, name='Xavier', age=24, gender='F', math=44, science=71, english=96)
Row(id=50, name='Zara', age=22, gender='F', math=40, science=49, english=42)
Row(id=23, name='Wendy', age=24, gender='M', math=57, science=83, english=81)

In [9]:
print("Total rows in dataset:", df.count())

Total rows in dataset: 50